#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h2 {
  color: #2d339f;
  text-transform: uppercase;
}

th {
  color: #2d339f;
}

.headContainer {
  width: 150px;
  padding: 20px 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: aliceblue;
  cursor: pointer;
  color: #646cff;
}

button:hover {
  background-color: #646cff;
  color: white;
}

.deleteBtn {
  background-color: #646cff90;
  color: white;
}

.deleteBtn:hover {
  background-color: #646cff;
  color: white;
}